@model AstroGearsMVC.Models.AspectInterpretation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AspectInterpretation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Interpretation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interpretation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CitationUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CitationUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspectInterpretationType.AspectInterpretationTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspectInterpretationType.AspectInterpretationTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aspect.AspectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aspect.AspectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CelestialObject.CelestialObjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CelestialObject.CelestialObjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CelestialObject1.CelestialObjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CelestialObject1.CelestialObjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseAngle.AngleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseAngle.AngleName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AspectInterpretationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
