@model AstroGearsMVC.Models.HouseAngle

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HouseAngle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HouseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseAngleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseAngleName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HouseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
